In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
enade_df = pd.read_csv('cotas/enade_merge_08-11-14-17.csv',sep=',',decimal='.')

In [3]:
enade_df

,ano,curso,nome_curso,uf,regiao,codigo_IES,categoria_adm_IES,organizacao_academica,turno,ead_presencial,...,escolaridade_pai,escolaridade_mae,renda_familiar,cotas,recebeu_cota,bolsa_academica,recebeu_bolsa,trabalha,livros_ano,horas_estudo
0,2008,56172,SI,BA,NE,385,IES privada,Universidade,Noturno,Não-Informado,...,Ensino Médio,Ensino Superior,<3,Não,Não,Nenhum,Não,Sim,8+,<3
1,2008,8913,SI,RS,S,426,IES privada,Centro Universitário,Noturno,Não-Informado,...,Ensino Médio,Ensino Superior,3-10,Não,Não,Nenhum,Não,Sim,1/2,3-8
2,2008,10978,SI,RS,S,532,IES privada,Universidade,Noturno,Não-Informado,...,Ensino Fundamental,Ensino Fundamental,3-10,Não,Não,Nenhum,Não,Sim,3-5,3-8
3,2008,20469,SI,PR,S,197,IES privada,Faculdade,Noturno,Não-Informado,...,Ensino Médio,Ensino Fundamental,<3,Renda ou EM público,Sim,Nenhum,Não,Sim,1/2,3-8
4,2008,47985,ADS,SP,SE,1743,IES privada,Faculdade,Noturno,Não-Informado,...,Ensino Superior,Ensino Fundamental,<3,Não,Não,Nenhum,Não,Sim,6-8,8+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132577,2017,5001211,ADS,SC,S,3295,IES privada,Faculdade,Diurno,Presencial,...,Ensino Médio,Ensino Médio,<3,Não,Não,Nenhum,Não,Não,0,<3
132578,2017,5001211,ADS,SC,S,3295,IES privada,Faculdade,Diurno,Presencial,...,Ensino Superior,Ensino Superior,3-10,Renda,Sim,Nenhum,Não,Não,8+,<3
132579,2017,5001211,ADS,SC,S,3295,IES privada,Faculdade,Diurno,Presencial,...,Ensino Superior,Ensino Fundamental,<3,Não,Não,Nenhum,Não,Não,3-5,8+
132580,2017,5001284,LCC,SC,S,494,IES privada,Universidade,Integral,EAD,...,Ensino Médio,Ensino Médio,<3,Não,Não,Nenhum,Não,Não,3-5,3-8
132581,2017,5001284,LCC,SC,S,494,IES privada,Universidade,Integral,EAD,...,Ensino Fundamental,Ensino Médio,<3,Não,Não,Nenhum,Não,Sim,8+,3-8

In [4]:
enade_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132582 entries, 0 to 132581
Data columns (total 34 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ano                             132582 non-null  int64
 1   curso                           132582 non-null  int64
 2   nome_curso                      132582 non-null  object
 3   uf                              132582 non-null  object
 4   regiao                          132582 non-null  object
 5   codigo_IES                      132582 non-null  int64
 6   categoria_adm_IES               132582 non-null  object
 7   organizacao_academica           132582 non-null  object
 8   turno                           132582 non-null  object
 9   ead_presencial                  132582 non-null  object
 10  nota_geral                      132582 non-null  float64
 11  nota_formacao_geral             132582 non-null  float64
 12  nota_obj_formacao_geral         132582 non-null  float64
 13  nota_dis_formacao_geral         132582 non-null  float64
 14  nota_componente_especifico      132582 non-null  float64
 15  nota_obj_componente_especifico  132582 non-null  float64
 16  nota_dis_componente_especifico  132582 non-null  float64
 17  formatura_ensino_medio          132582 non-null  int64
 18  inicio_graduacao                132582 non-null  int64
 19  tipo_ensino_medio               132582 non-null  object
 20  idade                           132582 non-null  int64
 21  range_idade                     132582 non-null  object
 22  sexo                            132582 non-null  object
 23  cor_raca                        132582 non-null  object
 24  escolaridade_pai                132582 non-null  object
 25  escolaridade_mae                132582 non-null  object
 26  renda_familiar                  132582 non-null  object
 27  cotas                           132582 non-null  object
 28  recebeu_cota                    132582 non-null  object
 29  bolsa_academica                 132582 non-null  object
 30  recebeu_bolsa                   132582 non-null  object
 31  trabalha                        132582 non-null  object
 32  livros_ano                      132582 non-null  object
 33  horas_estudo                    132582 non-null  object
dtypes: float64(7), int64(6), object(21)
memory usage: 34.4+ MB

In [5]:
enade_df['nome_curso'].unique()

array(['SI', 'ADS', 'EC', 'BCC', 'RC', 'LCC', 'GTI'], dtype=object)

In [6]:
enade_df['nome_curso'].replace({'ADS':1, 'RC':2,'EC':3, 'BCC':4,'LCC':5, 'SI':6, 'GTI':7},inplace=True)

In [7]:
x=enade_df['uf'].unique()
x.sort()
x

array(['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG',
       'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR',
       'RS', 'SC', 'SE', 'SP', 'TO'], dtype=object)

In [8]:
enade_df['uf'].replace({'AC':1, 'AL':2, 'AM':3, 'AP':4, 'BA':5, 'CE':6, 'DF':7, 'ES':8, 'GO':9, 'MA':10, 'MG':11,
       'MS':12, 'MT':13, 'PA':14, 'PB':15, 'PE':16, 'PI':17, 'PR':18, 'RJ':19, 'RN':20, 'RO':21, 'RR':22,
       'RS':23, 'SC':24, 'SE':25, 'SP':26, 'TO':27},inplace=True)

In [9]:
x=enade_df['regiao'].unique()
x.sort()
x

array(['CO', 'N', 'NE', 'S', 'SE'], dtype=object)

In [10]:
enade_df['regiao'].replace({'CO':1, 'N':2, 'NE':3, 'S':4, 'SE':5},inplace=True)

In [11]:
x=enade_df['categoria_adm_IES'].unique()
x.sort()
x

array(['IES privada', 'IES pública'], dtype=object)

In [12]:
enade_df['categoria_adm_IES'].replace({'IES privada':1, 'IES pública':2},inplace=True)

In [13]:
x=enade_df['organizacao_academica'].unique()
x.sort()
x

array(['C.F.E.T', 'Centro Universitário', 'Faculdade', 'I.F.E',
       'Instituto Superior', 'Universidade'], dtype=object)

In [14]:
enade_df['organizacao_academica'].replace({'C.F.E.T':1, 'Centro Universitário':2, 'Faculdade':3, 'I.F.E':4,
       'Instituto Superior':5, 'Universidade':6},inplace=True)

In [15]:
x=enade_df['turno'].unique()
x.sort()
x

array(['Diurno', 'Integral', 'Noturno', 'Não-Informado'], dtype=object)

In [16]:
enade_df['turno'].replace({'Diurno':1, 'Integral':2, 'Noturno':3, 'Não-Informado':4},inplace=True)

In [17]:
x=enade_df['ead_presencial'].unique()
x.sort()
x

array(['EAD', 'Não-Informado', 'Presencial'], dtype=object)

In [18]:
enade_df['ead_presencial'].replace({'EAD':1, 'Não-Informado':2, 'Presencial':3},inplace=True)

In [19]:
x=enade_df['tipo_ensino_medio'].unique()
x.sort()
x

array(['Exterior', 'Não-Informado', 'Particular', 'Pública'], dtype=object)

In [20]:
enade_df['tipo_ensino_medio'].replace({'Exterior':1, 'Não-Informado':2, 'Particular':3, 'Pública':4},inplace=True)

In [21]:
x=enade_df['sexo'].unique()
x.sort()
x

array(['F', 'M'], dtype=object)

In [22]:
enade_df['sexo'].replace({'F':1, 'M':2},inplace=True)

In [23]:
x=enade_df['cor_raca'].unique()
x.sort()
x

array(['Amarela', 'Branca', 'Indígena', 'Não Inf.', 'Parda', 'Preta'],
      dtype=object)

In [24]:
enade_df['cor_raca'].replace({'Amarela':1, 'Branca':2, 'Indígena':3, 'Não Inf.':4, 'Parda':5, 'Preta':6},inplace=True)

In [25]:
x=enade_df['escolaridade_pai'].unique()
x.sort()
x

array(['Ensino Fundamental', 'Ensino Médio', 'Ensino Superior', 'Nenhuma'],
      dtype=object)

In [26]:
enade_df['escolaridade_pai'].replace({'Ensino Fundamental':1, 'Ensino Médio':2, 'Ensino Superior':3, 'Nenhuma':4},inplace=True)

In [27]:
x=enade_df['escolaridade_mae'].unique()
x.sort()
x

array(['Ensino Fundamental', 'Ensino Médio', 'Ensino Superior', 'Nenhuma'],
      dtype=object)

In [28]:
enade_df['escolaridade_mae'].replace({'Ensino Fundamental':1, 'Ensino Médio':2, 'Ensino Superior':3, 'Nenhuma':4},inplace=True)

In [29]:
x=enade_df['range_idade'].unique()
x.sort()
x

array(['17-24', '25-29', '30-39', '40-49', '50+'], dtype=object)

In [30]:
enade_df['range_idade'].replace({'17-24':1, '25-29':2, '30-39':3, '40-49':4, '50+':5},inplace=True)

In [31]:
enade_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132582 entries, 0 to 132581
Data columns (total 34 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ano                             132582 non-null  int64
 1   curso                           132582 non-null  int64
 2   nome_curso                      132582 non-null  int64
 3   uf                              132582 non-null  int64
 4   regiao                          132582 non-null  int64
 5   codigo_IES                      132582 non-null  int64
 6   categoria_adm_IES               132582 non-null  int64
 7   organizacao_academica           132582 non-null  int64
 8   turno                           132582 non-null  int64
 9   ead_presencial                  132582 non-null  int64
 10  nota_geral                      132582 non-null  float64
 11  nota_formacao_geral             132582 non-null  float64
 12  nota_obj_formacao_geral         132582 non-null  float64
 13  nota_dis_formacao_geral         132582 non-null  float64
 14  nota_componente_especifico      132582 non-null  float64
 15  nota_obj_componente_especifico  132582 non-null  float64
 16  nota_dis_componente_especifico  132582 non-null  float64
 17  formatura_ensino_medio          132582 non-null  int64
 18  inicio_graduacao                132582 non-null  int64
 19  tipo_ensino_medio               132582 non-null  int64
 20  idade                           132582 non-null  int64
 21  range_idade                     132582 non-null  int64
 22  sexo                            132582 non-null  int64
 23  cor_raca                        132582 non-null  int64
 24  escolaridade_pai                132582 non-null  int64
 25  escolaridade_mae                132582 non-null  int64
 26  renda_familiar                  132582 non-null  object
 27  cotas                           132582 non-null  object
 28  recebeu_cota                    132582 non-null  object
 29  bolsa_academica                 132582 non-null  object
 30  recebeu_bolsa                   132582 non-null  object
 31  trabalha                        132582 non-null  object
 32  livros_ano                      132582 non-null  object
 33  horas_estudo                    132582 non-null  object
dtypes: float64(7), int64(19), object(8)
memory usage: 34.4+ MB

In [32]:
x=enade_df['renda_familiar'].unique()
x.sort()
x

array(['10-30', '3-10', '30+', '<3', 'Nenhuma'], dtype=object)

In [33]:
enade_df['renda_familiar'].replace({'10-30':4, '3-10':3, '30+':5, '<3':2, 'Nenhuma':1},inplace=True)

In [34]:
x=enade_df['recebeu_cota'].unique()
x.sort()
x

array(['Não', 'Sim'], dtype=object)

In [35]:
enade_df['recebeu_cota'].replace({'Não':1, 'Sim':2},inplace=True)

In [36]:
x=enade_df['recebeu_bolsa'].unique()
x.sort()
x

array(['Não', 'Sim'], dtype=object)

In [37]:
enade_df['recebeu_bolsa'].replace({'Não':1, 'Sim':2},inplace=True)

In [38]:
x=enade_df['trabalha'].unique()
x.sort()
x

array(['Não', 'Não-Informado', 'Sim'], dtype=object)

In [39]:
enade_df['trabalha'].replace({'Não':1,'Não-Informado':2, 'Sim':3},inplace=True)

In [40]:
x=enade_df['livros_ano'].unique()
x.sort()
x

array(['0', '1/2', '3-5', '6-8', '8+'], dtype=object)

In [41]:
enade_df['livros_ano'].replace({'0':1, '1/2':2, '3-5':2, '6-8':4, '8+':5},inplace=True)

In [42]:
x=enade_df['horas_estudo'].unique()
x.sort()
x

array(['0', '3-8', '8+', '<3'], dtype=object)

In [43]:
enade_df['horas_estudo'].replace({'0':1, '<3':2, '3-8':3, '8+':4},inplace=True)

In [44]:
enade_df.drop(columns=['idade', 'cotas', 'bolsa_academica'],inplace=True)

In [45]:
enade_df['nota_geral'] = enade_df['nota_geral'] * 100                       
enade_df['nota_formacao_geral'] = enade_df['nota_formacao_geral'] * 100             
enade_df['nota_obj_formacao_geral'] = enade_df['nota_obj_formacao_geral'] * 100         
enade_df['nota_dis_formacao_geral'] = enade_df['nota_dis_formacao_geral'] * 100         
enade_df['nota_componente_especifico'] = enade_df['nota_componente_especifico'] * 100      
enade_df['nota_obj_componente_especifico'] = enade_df['nota_obj_componente_especifico'] * 100  
enade_df['nota_dis_componente_especifico'] = enade_df['nota_dis_componente_especifico'] * 100

In [46]:
enade_df = enade_df.astype({'nota_geral':int})
enade_df = enade_df.astype({'nota_formacao_geral':int})
enade_df = enade_df.astype({'nota_obj_formacao_geral':int})
enade_df = enade_df.astype({'nota_dis_formacao_geral':int})
enade_df = enade_df.astype({'nota_componente_especifico':int})
enade_df = enade_df.astype({'nota_obj_componente_especifico':int})
enade_df = enade_df.astype({'nota_dis_componente_especifico':int})

In [47]:
enade_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132582 entries, 0 to 132581
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ano                             132582 non-null  int64
 1   curso                           132582 non-null  int64
 2   nome_curso                      132582 non-null  int64
 3   uf                              132582 non-null  int64
 4   regiao                          132582 non-null  int64
 5   codigo_IES                      132582 non-null  int64
 6   categoria_adm_IES               132582 non-null  int64
 7   organizacao_academica           132582 non-null  int64
 8   turno                           132582 non-null  int64
 9   ead_presencial                  132582 non-null  int64
 10  nota_geral                      132582 non-null  int64
 11  nota_formacao_geral             132582 non-null  int64
 12  nota_obj_formacao_geral         132582 non-null  int64
 13  nota_dis_formacao_geral         132582 non-null  int64
 14  nota_componente_especifico      132582 non-null  int64
 15  nota_obj_componente_especifico  132582 non-null  int64
 16  nota_dis_componente_especifico  132582 non-null  int64
 17  formatura_ensino_medio          132582 non-null  int64
 18  inicio_graduacao                132582 non-null  int64
 19  tipo_ensino_medio               132582 non-null  int64
 20  range_idade                     132582 non-null  int64
 21  sexo                            132582 non-null  int64
 22  cor_raca                        132582 non-null  int64
 23  escolaridade_pai                132582 non-null  int64
 24  escolaridade_mae                132582 non-null  int64
 25  renda_familiar                  132582 non-null  int64
 26  recebeu_cota                    132582 non-null  int64
 27  recebeu_bolsa                   132582 non-null  int64
 28  trabalha                        132582 non-null  int64
 29  livros_ano                      132582 non-null  int64
 30  horas_estudo                    132582 non-null  int64
dtypes: int64(31)
memory usage: 31.4 MB

In [49]:
enade_df.to_csv('.{}/{}.csv'.format('','enade_formatado_08-11-14-17'),index=False,float_format='%.2f')