In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
# enade_2005 = pd.read_csv('computacao_enade_2005.csv',sep=',',decimal='.')
enade_2008 = pd.read_csv('computacao_enade_2008.csv',sep=',',decimal='.')
enade_2011 = pd.read_csv('computacao_enade_2011.csv',sep=',',decimal='.')
enade_2014 = pd.read_csv('computacao_enade_2014.csv',sep=',',decimal='.')
enade_2017 = pd.read_csv('computacao_enade_2017.csv',sep=',',decimal='.')

In [3]:
# enade_2005['ano'] = '2005' 
enade_2008['ano'] = '2008'
enade_2011['ano'] = '2011'
enade_2014['ano'] = '2014'
enade_2017['ano'] = '2017'

In [4]:
frames = [enade_2008, enade_2011, enade_2014, enade_2017]
enade_merge = pd.concat(frames)

In [5]:
enade_merge['cotas'].replace(['*','.'],'Não',inplace=True)
enade_merge['cotas'].fillna('Não',inplace=True)

In [6]:
enade_merge['cor_raca'].replace(['*','.'],'ND',inplace=True)
enade_merge['cor_raca'].fillna('ND',inplace=True)

In [7]:
enade_merge['renda_familiar'].replace(['*','.'],'Nenhuma',inplace=True)
enade_merge['renda_familiar'].fillna('Nenhuma',inplace=True)

In [8]:
enade_merge['escolaridade_pai'].replace(['*','.'],'Nenhuma',inplace=True)
enade_merge['escolaridade_pai'].fillna('Nenhuma',inplace=True)

In [9]:
enade_merge['escolaridade_mae'].replace(['*','.'],'Nenhuma',inplace=True)
enade_merge['escolaridade_mae'].fillna('Nenhuma',inplace=True)

In [10]:
enade_merge['recebeu_bolsa'].fillna('Não',inplace=True)

In [11]:
enade_merge['bolsa_academica'].fillna('Nenhum',inplace=True)

In [12]:
enade_merge['recebeu_cota'].replace(['*','.'],'Não',inplace=True)
enade_merge['recebeu_cota'].fillna('Não',inplace=True)

In [13]:
enade_merge['tipo_ensino_medio'].replace(['*','.'],'Não-Informado',inplace=True)
enade_merge['tipo_ensino_medio'].fillna('Não-Informado',inplace=True)

In [14]:
enade_merge['turno'].replace(['V','M'],'D',inplace=True)
enade_merge['turno'].fillna('Não-Informado',inplace=True)

In [15]:
enade_merge['ead_presencial'].fillna('Não-Informado',inplace=True)

In [16]:
enade_merge['trabalha'].replace(['*','.'],'Não-Informado',inplace=True)
enade_merge['trabalha'].fillna('Não-Informado',inplace=True)

In [17]:
enade_merge.isna().any()

codigo_IES                         False
categoria_adm                      False
organizacao_academica              False
nome_curso                         False
regiao                             False
uf                                 False
curso                              False
idade                              False
sexo                               False
formatura_medio                    False
inicio_graduacao                   False
nota_obj_formacao_geral            False
nota_disc_formacao_geral           False
nota_formacao_geral                False
nota_obj_componente_especifico     False
nota_disc_componente_especifico    False
nota_componente_especifico         False
nota_geral                         False
cor_raca                           False
renda_familiar                     False
trabalha                           False
cotas                              False
escolaridade_pai                   False
escolaridade_mae                   False
tipo_ensino_medio                  False
livros_ano                          True
horas_estudo                        True
turno                              False
recebeu_cota                       False
range_idade                        False
ano                                False
ead_presencial                     False
bolsa_academica                    False
recebeu_bolsa                      False
dtype: bool

In [18]:
enade_merge

,codigo_IES,categoria_adm,organizacao_academica,nome_curso,regiao,uf,curso,idade,sexo,formatura_medio,...,tipo_ensino_medio,livros_ano,horas_estudo,turno,recebeu_cota,range_idade,ano,ead_presencial,bolsa_academica,recebeu_bolsa
0,385,IES privada,Universidade,SI,NE,BA,56172,24,M,2001,...,Não-Informado,8+,<3,N,Não,17-24,2008,Não-Informado,Nenhum,Não
1,426,IES privada,Centro Universitário,SI,S,RS,8913,24,M,2000,...,Não-Informado,1/2,3-8,N,Não,17-24,2008,Não-Informado,Nenhum,Não
2,532,IES privada,Universidade,SI,S,RS,10978,27,F,2000,...,Não-Informado,3-5,3-8,N,Não,25-29,2008,Não-Informado,Nenhum,Não
3,197,IES privada,Faculdade,SI,S,PR,20469,24,M,2000,...,Não-Informado,1/2,3-8,N,Sim,17-24,2008,Não-Informado,Nenhum,Não
4,1743,IES privada,Faculdade,ADS,SE,SP,47985,20,M,2004,...,Não-Informado,6-8,8+,N,Não,17-24,2008,Não-Informado,Nenhum,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40109,3295,IES privada,Faculdade,ADS,S,SC,5001211,20,M,2014,...,Pública,0,<3,D,Não,17-24,2017,Presencial,Nenhum,Não
40110,3295,IES privada,Faculdade,ADS,S,SC,5001211,25,M,2010,...,Particular,8+,<3,D,Sim,17-24,2017,Presencial,Nenhum,Não
40111,3295,IES privada,Faculdade,ADS,S,SC,5001211,35,M,2007,...,Pública,3-5,8+,D,Não,30-39,2017,Presencial,Nenhum,Não
40112,494,IES privada,Universidade,LCC,S,SC,5001284,25,M,2009,...,Pública,3-5,3-8,I,Não,17-24,2017,EAD,Nenhum,Não
40113,494,IES privada,Universidade,LCC,S,SC,5001284,34,M,2000,...,Particular,8+,3-8,I,Não,30-39,2017,EAD,Nenhum,Não

In [19]:
enade_merge['livros_ano'].replace(['*','.'],'0',inplace=True)
enade_merge['livros_ano'].fillna('0',inplace=True)

In [20]:
enade_merge['horas_estudo'].replace(['*','.'],'0',inplace=True)
enade_merge['horas_estudo'].fillna('0',inplace=True)

In [21]:
order_column = ['ano','curso','nome_curso','uf','regiao','codigo_IES','categoria_adm','organizacao_academica','turno','ead_presencial',
                'nota_geral','nota_formacao_geral','nota_obj_formacao_geral','nota_disc_formacao_geral',
                'nota_componente_especifico','nota_obj_componente_especifico','nota_disc_componente_especifico',
                'formatura_medio','inicio_graduacao','tipo_ensino_medio','idade','range_idade','sexo','cor_raca',
                'escolaridade_pai','escolaridade_mae','renda_familiar','cotas','recebeu_cota','bolsa_academica','recebeu_bolsa', 
                'trabalha', 'livros_ano', 'horas_estudo']
enade_merge = enade_merge.reindex(columns=order_column)

In [22]:
turno_dict={'I':'Integral','D':'Diurno','N':'Noturno','Não-Informado':'Não-Informado'}
enade_merge['turno'].replace(turno_dict,inplace=True)
enade_merge['turno'].unique()

array(['Noturno', 'Diurno', 'Não-Informado', 'Integral'], dtype=object)

In [23]:
enade_merge = enade_merge.loc[enade_merge.sexo != 'N']
enade_merge['sexo'].value_counts()

M    111927
F     20655
Name: sexo, dtype: int64

In [24]:
escolaridade_dict = {'1°-5° EF':'Ensino Fundamental','6°-9° EF':'Ensino Fundamental','Ensino Médio':'Ensino Médio','Nenhuma':'Nenhuma','Graduação':'Ensino Superior','Graduação+':'Ensino Superior','Pós-graduação':'Ensino Superior'}
enade_merge['escolaridade_pai'].replace(escolaridade_dict,inplace=True)
enade_merge['escolaridade_pai'].unique()

array(['Ensino Médio', 'Ensino Fundamental', 'Ensino Superior', 'Nenhuma'],
      dtype=object)

In [25]:
enade_merge['escolaridade_mae'].replace(escolaridade_dict,inplace=True)
enade_merge['escolaridade_mae'].unique()

array(['Ensino Superior', 'Ensino Fundamental', 'Nenhuma', 'Ensino Médio'],
      dtype=object)

In [26]:
enade_merge['trabalha'].unique()

array(['Sim', 'Não-Informado', 'Não'], dtype=object)

In [27]:
enade_merge['organizacao_academica'].unique()

array(['Universidade', 'Centro Universitário', 'Faculdade',
       'Instituto Superior', 'C.F.E.T', 'I.F.E'], dtype=object)

In [28]:
escolaridade_dict = {'Amarela':'Amarela','Branca':'Branca','Indígena':'Indígena','ND':'Não Inf.','Parda':'Parda','Preta':'Preta'}
enade_merge['cor_raca'].replace(escolaridade_dict,inplace=True)
enade_merge['cor_raca'].unique()

array(['Indígena', 'Branca', 'Não Inf.', 'Parda', 'Preta', 'Amarela'],
      dtype=object)

In [29]:
enade_merge = enade_merge.astype({'nota_geral':float})
enade_merge = enade_merge.astype({'nota_formacao_geral':float})
enade_merge = enade_merge.astype({'nota_obj_formacao_geral':float})
enade_merge = enade_merge.astype({'nota_disc_formacao_geral':float})
enade_merge = enade_merge.astype({'nota_componente_especifico':float})
enade_merge = enade_merge.astype({'nota_obj_componente_especifico':float})
enade_merge = enade_merge.astype({'nota_disc_componente_especifico':float})

In [30]:
enade_merge['nota_geral'] = enade_merge['nota_geral'].round(2)
enade_merge['nota_formacao_geral'] = enade_merge['nota_formacao_geral'].round(2)
enade_merge['nota_obj_formacao_geral'] = enade_merge['nota_obj_formacao_geral'].round(2)
enade_merge['nota_disc_formacao_geral'] = enade_merge['nota_disc_formacao_geral'].round(2)
enade_merge['nota_componente_especifico'] = enade_merge['nota_componente_especifico'].round(2)
enade_merge['nota_obj_componente_especifico'] = enade_merge['nota_obj_componente_especifico'].round(2)
enade_merge['nota_disc_componente_especifico'] = enade_merge['nota_disc_componente_especifico'].round(2)

In [31]:
enade_merge.rename(columns={'nota_disc_formacao_geral':'nota_dis_formacao_geral'},inplace=True)
enade_merge.rename(columns={'nota_disc_componente_especifico':'nota_dis_componente_especifico'},inplace=True)
enade_merge.rename(columns={'formatura_medio':'formatura_ensino_medio'},inplace=True)
enade_merge.rename(columns={'categoria_adm':'categoria_adm_IES'},inplace=True)

In [32]:
enade_merge = enade_merge.astype({'ano':int})

In [33]:
enade_merge['idade_comeco_graduacao'] = enade_merge['idade'] - (enade_merge['ano'] - enade_merge['inicio_graduacao'])

In [34]:
enade_merge['tempo_ocioso'] =  enade_merge['inicio_graduacao'] - enade_merge['formatura_ensino_medio']

In [35]:
enade_merge['tempo_cursado'] = enade_merge['ano'] - enade_merge['inicio_graduacao']

In [36]:
diretorio = '/cotas'
enade_merge.to_csv('.{}/{}.csv'.format(diretorio,'enade_merge_08-11-14-17'),index=False,float_format='%.2f')